body {
    background-color: rgb(136, 221, 203);
    margin: 0;
    font-family: "Audiowide", sans-serif;
}

#header {
    width: 500px;
    height: 100px;
    margin: auto;
    padding: 10px;
    border: 3px solid rgb(136, 221, 203);
    background-color: rgb(136, 221, 203);
    color: white;
    font-size: 30px; /* Fix this to be responsive */
    display: flex;
    flex-direction: row;
}

#score {
    width: 300px;
    border: 5px solid rgb(136, 221, 203);
    display: flex;
    justify-content: left;
    align-items: center;
}

#word {
    width: 200px;
    border: 5px solid rgba(0, 0, 0, 0.158);
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 500px;
    height: 600px;
    margin: auto;
    padding: 10px;
    border: 5px solid;
    background-image: url(../images/background1.png);
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

.overlay {
    background-color: rgba(12, 25, 21, 0.685);
    color: white;

    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    display: none;
}

.show-overlay {
    display: block;
}

#player {
    background-image: url('../images/player1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.obstacle {
    background-image: url('../images/obstacle.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.object {
    background-color: rgb(255, 0, 120);
    position: absolute;
}

.object img {
    width: 100%;
    height: 100%;
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}

@media screen and (max-width: 768px) {
    #header {
        width: 80%;
        font-size: 20px;
    }

    #score {
        width: 60%;
    }

    #word {
        width: 40%;
    }

    #board {
        width: 80%;
        height: 400px;
    }
}
