body {
    background-color: rgb(8, 44, 37);;
    margin: 0;
    font-family: "Audiowide", sans-serif;
}

#header {
    width: 500px;
    height: 100px;
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 30px; /* Fix this to be responsive */
    display: flex;
    flex-direction: row;
}

#score {
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#word {
    width: 200px;
    border: 5px solid rgba(43, 128, 98, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 1000px;
    height: 600px;
    margin: auto;
    padding: 10px;
    border: 5px solid;
    background-image: url(../images/background2.png);
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

.title {
    font-size: 50px;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.instructions ul li {
    font-size: 20px;
}

.playagain-button {
    width: 200px;
    height: 40px;
    font-family: inherit;
    font-size: 15px;
    background: rgb(36 183 153);
    border: none;
    border-radius: 4px;
}

.playagain-button:hover,.playagain-button:active{
    background: rgb(8 79 64);
    color: white;
    cursor: pointer;
}

.overlay {
    background-color: rgba(10, 22, 18, 0.92);
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    display: none;
}

.show-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#player {
    background-image: url('../images/player1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: left 0.1s linear;
}

.obstacle {
    background-image: url('../images/obstacle2.png'); /* Change for a better one */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.object {
    position: absolute;
}

.object img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    #header {
        width: 80%;
        font-size: 20px;
    }

    #score {
        width: 60%;
    }

    #word {
        width: 40%;
    }

    #board {
        width: 80%;
        height: 400px;
    }
}
